extends ../_template

block content

    - var sequence = ['Каталог', 'Светодиодные ленты']
    +breadCrumbs(sequence, 'totalWidth')


    main.mainContent
        .catalog.totalWidth

            h1.catalog__title.title--lg СВЕТОДИОДНЫЕ ЛЕНТЫ

            .catalog__leftSection                

                -
                    var leftProdList = [
                        'Декоративное светодиодное оформление',
                        'Ленты LUX smd 3528',
                        'Ленты LUX smd 5060 [+RGB]',
                        'Ленты LUX smd 2835',
                        'Ленты LUX smd 5630 [+ULTRA]',
                        'Ленты RGBW мультицвет, MIX белые',
                        'Ленты RGB бегущий огонь',
                        'Ленты фигурные [RZ,RV,DIP-LED]',
                        'Ленты LUX smd 335 боковое свечение',
                        'Ленты LUX smd 3014, 3020',
                        'Ленты NormaLed',
                        'Светодиодные листы',
                        'Коннкторы, клипсы'
                    ]

                .catalog__productList
                    ul.catalog__productItems
                        each item in leftProdList
                            li.catalog__productItem
                                a(href="#").catalog__productLink= item

                .filtersBtn Фильтры
                    +svgMix('filtersBtn__pic', 'list')

                -
                    var options = [
                        {
                            title: 'Цвет свечения',
                            subMenuOptions: [
                                'цвет',
                                'цвет',
                                'цвет',
                                'цвет',
                                'цвет',
                                'цвет',
                                'цвет'
                            ]
                        },
                        {
                            title: 'Размер светодиодов',
                            subMenuOptions: [
                                'какой-то пункт',
                                'какой-то пункт',
                                'какой-то пункт',
                                'какой-то пункт',
                                'какой-то пункт',
                                'какой-то пункт',
                                'какой-то пункт'
                            ]
                        },
                        {
                            title: 'Клас пылвлагозащиты',
                            subMenuOptions: [
                                'какой-то пункт',
                                'какой-то пункт',
                                'какой-то пункт',
                                'какой-то пункт',
                                'какой-то пункт',
                                'какой-то пункт',
                                'какой-то пункт'
                            ]
                        },
                        {
                            title: 'Напряжение питания',
                            subMenuOptions: [
                                'какой-то пункт',
                                'какой-то пункт',
                                'какой-то пункт',
                                'какой-то пункт',
                                'какой-то пункт',
                                'какой-то пункт',
                                'какой-то пункт'
                            ]
                        },
                        {
                            title: 'Плотность светодиодов',
                            subMenuOptions: [
                                'какой-то пункт',
                                'какой-то пункт',
                                'какой-то пункт',
                                'какой-то пункт',
                                'какой-то пункт',
                                'какой-то пункт',
                                'какой-то пункт'
                            ]
                        },
                        {
                            title: 'Потребляемая мощность, Вт',
                            subMenuOptions: [
                                'какой-то пункт',
                                'какой-то пункт',
                                'какой-то пункт',
                                'какой-то пункт',
                                'какой-то пункт',
                                'какой-то пункт',
                                'какой-то пункт'
                            ]
                        },
                        {
                            title: 'Ширина ленты, мм',
                            subMenuOptions: [
                                'какой-то пункт',
                                'какой-то пункт',
                                'какой-то пункт',
                                'какой-то пункт',
                                'какой-то пункт',
                                'какой-то пункт',
                                'какой-то пункт'
                            ]
                        }
                    ]
                
                form.catalog__options
                    .catalog__optionItems
                        .catalog__optionFindProductBox
                            p.catalog__optionFindProductText Найдено товаров
                            .catalog__optionFindProductCount 120
                            a(href="#").catalog__optionFindProductShow Показать
                        each o, key in options
                            .catalog__option
                                .catalog__optionsTitleBox
                                    p.catalog__optionsTitle= o.title
                                    +svgMix('accordionIcon', 'next')
                                if key == 0
                                    .catalog__optionsItemList.catalog__optionsItemList--squard
                                        label.catalog__optionsItem.catalog__optionsItem--slider
                                            .catalog__optionsAmount
                                                .catalog__optionsMin min
                                                    input(type="text" id="minCost").catalog__optionsMinVal
                                                .catalog__optionsMax max
                                                    input(type="text" id="maxCost").catalog__optionsMaxVal
                                            .catalog__optionsItemSlider.catalog__optionsItemSlider--price
                                        each m in o.subMenuOptions
                                            //- name and value задавать програмно backend
                                            label.catalog__optionsItem
                                                .catalog__optionsItemName= m
                                                input(type="checkbox" name="" value= m)
                                                +svgMix('catalog__optionsItemCheck', 'check-square')
                                if key == 1
                                    .catalog__optionsItemList
                                        .catalog__optionsItemModels
                                            .catalog__optionsItemModel
                                                a(href="model1").catalog__optionsItemModelLink.catalog__optionsItemModelLink--active модель 1
                                                a(href="model2").catalog__optionsItemModelLink модель 2
                                            .catalog__optionsItemModelsBox#model1
                                                each m in o.subMenuOptions
                                                    label.catalog__optionsItem
                                                        .catalog__optionsItemName= m + " model 1"
                                                        input(type="checkbox" name="" value= m)
                                                        +svgMix('catalog__optionsItemCheck', 'check-square')
                                            .catalog__optionsItemModelsBox#model2
                                                each m in o.subMenuOptions
                                                    label.catalog__optionsItem
                                                        .catalog__optionsItemName= m + " model 2"
                                                        input(type="checkbox" name="" value= m)
                                                        +svgMix('catalog__optionsItemCheck', 'check-square')
                                else
                                    .catalog__optionsItemList
                                        each m in o.subMenuOptions
                                            //- name and value задавать програмно backend
                                            label.catalog__optionsItem
                                                .catalog__optionsItemName= m
                                                input(type="checkbox" name="" value= m)
                                                +svgMix('catalog__optionsItemCheck', 'check-square')
                    .catalog__optionBtn
                        button.clear Очистить
                        button.accept Применить

            .catalog__mainSection
                .catalog__sorting
                    p.catalog__sortingText Сортирвать:
                    .catalog__sortingMenu
                        .catalog__sortingTitleBox
                            p.catalog__sortingTitle по названию
                            +svgMix('accordionIcon', 'next')
                        - var sortingItems = ['по названию','Рейтингу','Увелечению цены','Уменьшению цены']
                        ul.catalog__sortingList
                            each item, key in sortingItems
                                if key == 0
                                    li.catalog__sortingItem.catalog__sortingItem--current= item
                                else
                                    li.catalog__sortingItem= item

                .catalog__items--laptop
                    - for(var i = 0; i< 11; i++) {
                        .catalog__item
                            .catalog__itemArticle Артикул 11111

                            a(href="#").catalog__itemPhotoBox
                                img(src="assets/img/catalogProduct.png", alt="product photo").catalog__itemPhoto
                                .catalog__itemSalesIndicator(style="background-color: #0003ff")
                            
                            .catalog__itemInfo
                                .catalog__itemInfoTopBox
                                    .catalog__itemName Лента светодиодная
                                    a(href="#").catalog__itemModel RT 2-5000 12V Yellow

                                .catalog__itemDetail
                                    block counter
                                        include ../common/counter
                                    .catalog__itemBuy
                                        button.catalog__itemBuyBtn В корзину
                                    .catalog__itemPrice 99,99 ₽
                                        
                                    .catalog__itemPDF
                                        a(href="#").catalog__itemPDFLink PDF
                    - }
                .catalog__items--desktop
                    - for(var i = 0; i< 5; i++) {
                        .catalog__item
                            a(href="#").catalog__itemName Лента RT 2-5000 12V S-Cool-5mm (3528, 300 LED, LUX)
                            .catalog__itemInfoBox
                                .catalog__itemPhotoBox
                                    a(href="#").catalog__itemPhotoLink
                                        img(src="assets/img/catalogProduct.png", alt="product photo").catalog__itemPhoto
                                .catalog__itemInfoTable
                                    .catalog__itemTableColl.catalog__itemTableColl--article
                                        .catalog__itemTableHead Артикул
                                        .catalog__itemTableContent
                                            p 111111111
                                            a(href="#").catalog__itemPdfLink
                                                img(src="assets/img/PDF-downlaod.png", alt="pdf article").catalog__itemPdf
                                    .catalog__itemTableColl.catalog__itemTableColl--description
                                        .catalog__itemTableHead Описание
                                        .catalog__itemTableContent
                                            p.
                                                Упаковка: Катушка. Узкая гибкая лента LUX,
                                                светодиоды smd 3528, 60шт/м (300шт на 5м)
                                                белая плата 5мм, скотч 3М. Цвет ХОЛОДНЫЙ
                                                БЕЛЫЙ 15000-20000К. Питание 12В,
                                                мощьность 4,8 Вт/м (24 Вт на 5м), угол 120º
                                                Размеры 5000х5х1,8мм. Мин. отрезок 50мм
                                                (3 LED). Цена 1м
                                    .catalog__itemTableColl.catalog__itemTableColl--color
                                        .catalog__itemTableHead Цвет
                                        .catalog__itemTableContent
                                            //- цвет через админку
                                            div(style="background-color: yellow")
                                    .catalog__itemTableColl.catalog__itemTableColl--packingRate
                                        .catalog__itemTableHead Норма упак.
                                        .catalog__itemTableContent
                                            p 5
                                    .catalog__itemTableColl.catalog__itemTableColl--units
                                        .catalog__itemTableHead Ед. изм.
                                        .catalog__itemTableContent
                                            p М
                                    .catalog__itemTableColl.catalog__itemTableColl--price
                                        .catalog__itemTableHead Цена
                                        .catalog__itemTableContent
                                            p 1 000 000.00 Р
                                    .catalog__itemTableColl.catalog__itemTableColl--amount
                                        .catalog__itemTableHead Кол-во
                                        .catalog__itemTableContent
                                            input(type="text" value=0)
                                    .catalog__itemTableColl.catalog__itemTableColl--availability
                                        .catalog__itemTableHead Наличие
                                        .catalog__itemTableContent
                                            +svgMix('check', 'catalogCheck')
                                    button.catalog__itemBuyBtn В корзину
                    - }
                    
                block pagination
                    include ../common/_pagination